<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{titulo}}</h1>
    <label for="nombreProducto">Nombre del Producto</label>
    <input 
    type="text" 
    name="nombreProducto" 
    id="nombreProducto" 
    [(ngModel)]="nombreProducto"
    />
    <hr>
    <!--Al añadir aquí el componente 2 ahora el componente dos es hijo del componente 1 -->
    <!--Al llamar al componente 1 en el app.comp.html también llamamos al 2-->
    <!--En dos.component.ts recibimos por un input, le pasamos nombre más el valor que va a tomar, en esta caso de nombreProducto-->
    <dosComponent [nombre]="nombreProducto"></dosComponent>
</body>
</html>