<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!--<td><button (click)="emitirEvento($event)"></button></td>-->
                    <td>{{nombre}}</td>
                    <td>$ {{precio}}</td>
                    <td>{{marca}}</td>
                    <td>{{categoria}}</td>
                    <td>{{status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>